<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.PlanMapper">
    <insert id="save">
        insert into plans(id, name, price, data, call) VALUES (#{info.id}, #{info.name}, #{info.price}, #{info.data}, #{info.call})
    </insert>
    <select id="findById" resultType="model.Plan">
        SELECT id, name, price, data, call from plans where id = #{id}
    </select>
    <select id="findByName" resultType="model.Plan">
        SELECT id, name, price, data, call from plans where username = #{name}
    </select>
</mapper>