<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sid.mobile.mapper.PlanMapper">
    <insert id="save">
        insert into plan(id, name, price, data, calls) VALUES (#{info.id}, #{info.name}, #{info.price}, #{info.data}, #{info.calls})
    </insert>
    <select id="findById" resultType="com.sid.mobile.model.Plan">
        SELECT id, name, price, data, calls from plan where id = #{id}
    </select>
    <select id="findByName" resultType="com.sid.mobile.model.Plan">
        SELECT id, name, price, data, calls from plan where name = #{name}
    </select>
    <select id="all" resultType="com.sid.mobile.model.Plan">
        SELECT id, name, price, data, calls from plan
    </select>
</mapper>