ul, li {
    list-style-type: none;
    padding: 0px;
    margin: 15px;
}

ul.components {
    float: left;
}

.ui-draggable:not(.ui-draggable-disabled) {
    cursor: hand;
}

div.container {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.panel-body {
    padding: 0px !important;
    height: 100%;
}

textarea {
    max-width: 100%;
}

h4, p {
    padding: 6px 12px;
}

.ui-state-disabled {
    opacity: 1;
}

.glyphicon-move {
    position: absolute;
    left: 1px;
    top: 40%;
    color: lightgrey;
}

.glyphicon-remove {
    position: absolute;
    right: 7px;
    top: 7px;
    color: lightgrey;
    border-radius: 50%;
    border: 2px solid #E2E2E2;
}